<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logosmektuber"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smektuber"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".screen.home.Extrakurikuler"
            android:exported="false" />
        <activity
            android:name=".screen.home.Jurusan"
            android:exported="false" />
        <activity
            android:name=".screen.home.DetailJurusan"
            android:exported="false" />
        <activity
            android:name=".screen.home.DetailExtra"
            android:exported="false" />
        <activity
            android:name=".screen.home.AboutSchool"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDT5dNQc8JucaGAw9Qdgy5jKYHA9uv6EEI" />

        <activity
            android:name=".screen.home.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".screen.home.VisiAndMisi"
            android:exported="false" />
        <activity
            android:name=".screen.home.DetailArticle"
            android:exported="false" />
        <activity
            android:name=".screen.home.ArticleViewAll"
            android:exported="false" />
        <activity
            android:name=".screen.home.DetailJobs"
            android:exported="false" />
        <activity
            android:name=".screen.home.DaftarPPDB"
            android:exported="false" />
        <activity
            android:name=".screen.home.Notification"
            android:exported="false" />
        <activity
            android:name=".screen.home.ChangeDataAccount"
            android:exported="false" />
        <activity
            android:name=".screen.home.ImageCrop"
            android:exported="false" />
        <activity
            android:name=".screen.home.ViewZoomImage"
            android:exported="false" />
        <activity
            android:name=".screen.auth.Register"
            android:exported="false" />
        <activity
            android:name=".screen.auth.Login"
            android:exported="false" />
        <activity
            android:name=".screen.auth.WelcomeAuth"
            android:exported="false" />
        <activity
            android:name=".screen.home.HomeMember"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screen.jurusan.jurusan"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".screen.splash.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>